**List_remove_append**

In [1]:
input_list = ['SAS','R','PYTHON','SPSS']

In [2]:
input_list.remove('SPSS')
input_list.append('SPARK')
input_list

['SAS', 'R', 'PYTHON', 'SPARK']

**String to List Conversion**

In [3]:
input_str = 'I love Data Science & Python'

In [4]:
input_str_list = input_str.split("&")
input_str_list

['I love Data Science ', ' Python']

**List to String Conversion**

In [5]:
mylist = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']

In [7]:
print(" & ".join(mylist))

Pythons syntax is easy to learn & Pythons syntax is very clear

**Nested List**

In [8]:
input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [9]:
print(input_list[2][0])

Python

**It's the time to disco**

In [10]:
t = ("disco",12,4.5)

In [14]:
 print(t[0][2])

s

**String Palindrome**

In [19]:
input_string = input("Enter a string ")

Enter a string radar

In [20]:
reversed_string = input_string[::-1]
if input_string == reversed_string:
  print("1")
else:
  print("0")

1

**Reverse Words**

In [21]:
input_string = "HI HELLO HOW ARE YOU"

In [29]:
print(input_string[::-1])

UOY ERA WOH OLLEH IH

**String Formatting**

In [30]:
inp_str1 = "caloRie Consumed"
inp_str2 = "data science"
inp_str3 = "datascience"

In [54]:
result = ""
for i in inp_str1:         #change the input string it will work accordingly
  if i.isupper:
    result = result+i.lower()
  else:
    result = result+i
result = result.replace(" ","_")
print(result)

calorie_consumed

**Multiple Choice Questions**

1. How will you extract ‘love’ from the string S = “I love Python”?

Answer : option b & d

In [62]:
S = "I love Python"
print(S[2:6])
print(S[-11:-7])

love
love

2. What will the output of 3 * 3 ** 3 be? 

Answer: option c

In [65]:
print(3*3**3)

81

3. What will the output be of ((500//7) % 5) ** 3? 

Answer: option a

In [66]:
print(((500//7) % 5) ** 3)

1

4. If you have a tuple T = (3, 5, 7, 11), what will the output of T.append(9)

Answer: Option d

In [67]:
T = (3, 5, 7, 11)
T.append(9)

AttributeError: ignored

5. What will the output of the following program be? 

Note: Question is not complete

6. What will the output of the following code be?

Answer: Option b

In [68]:
l = [32,34,12,27,33]
l.append((14,19))
print(len(l))

6

7. Which of the following statements is incorrect regarding sets in Python? 

Answer: Option c

Sets are immutable

8. What will the output be of the following code?

Answer: Option a

In [69]:
D = {1:['Raj', 22],2:['Raj', 21],3:['Raj', 40]}
for val in D:
  print(val)

1
2
3

9. What will the ‘comprehension equivalent’ be for the following snippet of code?

for sentence in paragraph: 
  for word in sentence.split(): 
    single_word_list.append(word) 

Answer: Option b

[word for sentence in paragraph for word in sentence.split()]

10.What will be the output of this code?

Answer: Option d

In [74]:
print(list(range(10, 1, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2]